<div class="font-med-book">
   	{{#paragraphTest}}
	   {{ fillerTxt }}
	{{/paragraphTest}}
</div>
<div class="font-med-2">
   	{{#paragraphTest}}
	   {{ fillerTxt }}
	{{/paragraphTest}}
</div>
<div>
	<p>
		Paragraph <Br/>
		{{#paragraphTest}}
		{{ fillerTxt }}
		{{/paragraphTest}}
	</p>
</div>

<div>
	<h1>
		H1
		{{#headline}}
		{{ short }}
		{{/headline}}
	<h1>
</div>

<div>
	<h2>
		H2
		{{#headline}}
		{{ medium }}
		{{/headline}}
	<h2>
</div>

<div>
	<h3>
		H3
		{{#headline}}
		{{ medium }}
		{{/headline}}
	<h3>
</div>

<div>
	<h4>
		H4
		{{#headline}}
		{{ medium }}
		{{/headline}}
	<h4>
</div>

<div>
	<h5>
		H5
		{{#headline}}
		{{ medium }}
		{{/headline}}
	<h5>
</div>
