<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fecb00;"></span>
		<span class="sg-label">
			Penske Yellow (PY 70) <br />
			$penske-yellow <br />
			#fecb00
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0073CF;"></span>
		<span class="sg-label">
			Bright Blue (BB 100) <br />
			$bright-blue <br />
			#0073CF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #002496;"></span>
		<span class="sg-label">
			Reflex Blue (RB 130)
			$primary-blue <br />
			#002496
		</span>
	</li>
</ul>
