<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #002084;"></span>
		<span class="sg-label">
			RB 140 <br /> 
			$secondary-blue <br />
			#002084
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00165C;"></span>
		<span class="sg-label">
			RB 140 <br />
			$tertiary-blue <br />
			#00165C
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #113BC2;"></span>
		<span class="sg-label">
			RB 100 <br />
			$accent-1 <br />
			#113BC2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D4D7D9;"></span>
		<span class="sg-label">
			BB Gray 80 <br />
			$accent-2 <br />
			#D4D7D9
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #001146;"></span>
		<span class="sg-label">
			RB 170 <br />
			$primary-bg <br />
			#001146
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F2F9FF;"></span>
		<span class="sg-label">
			BB 0 <br />
			$secondary-bg <br />
			#F2F9FF
		</span>
	</li>
</ul>
