<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">
			White <br />
			$primary-white <br />
			#FFFFFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #717274;"></span>
		<span class="sg-label">
            BB Gray 150 <br />
			$medium-gray-1 <br />
            #717274
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2f2f30;"></span>
		<span class="sg-label">
            BB Gray 180 <br />
			$dark-gray <br />
            #2f2f30
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d4d7d9;"></span>
		<span class="sg-label">
			BB Gray 80 <br />
            $light-gray-0 <br />
            #d4d7d9
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5c5d5e;"></span>
		<span class="sg-label">
            BB Gray 160 <br />
			$medium-gray-2 <br />
            #5c5d5e
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f1f5f7;"></span>
		<span class="sg-label">
            BB Gray 30 <br />
			$light-gray-00 <br />
            #f1f5f8
        </span>
	</li>
	
</ul>
