<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #D0021B;"></span>
		<span class="sg-label">
            $red-100 <br />
            #D0021B
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff2f3;"></span>
		<span class="sg-label">
            $red-0 <br />
            #fff2f3
        </span>
	</li>
	
</ul>