<div class="page-container">
<div class="col-1">
<div class="sidebar-nav">

{{> molecules-tree-nav}}

</div> {{! sidebar-nav }}
</div> {{! end col-1 }}
<div class="col-2">


{{#buybutton}}
{{> atoms-primary-button}}
{{/buybutton}}

{{#sellbutton}}
{{> atoms-primary-button}}
{{/sellbutton}}









</div> {{! end col-2 }}
<div class="col-3">
{{> atoms-testImage}}
<div>
{{#xsm}}
{{> atoms-testtype}}
{{/xsm}}
{{#sm}}
{{> atoms-testtype}}
{{/sm}}
{{#sm2}}
{{> atoms-testtype}}
{{/sm2}}
{{#med1}}
{{> atoms-testtype}}
{{/med1}}
{{#medb2}}
{{> atoms-testtype}}
{{/medb2}}
{{#medmed3}}
{{> atoms-testtype}}
{{/medmed3}}
{{#medmed5}}
{{> atoms-testtype}}
{{/medmed5}}
{{#medhvy7}}
{{> atoms-testtype}}
{{/medhvy7}}
{{#medhvy9}}
{{> atoms-testtype}}
{{/medhvy9}}
{{#med2}}
{{> atoms-testtype}}
{{/med2}}
{{#lrg}}
{{> atoms-testtype}}
{{/lrg}}
{{#xl}}
{{> atoms-testtype}}
{{/xl}}
{{#xxl}}
{{> atoms-testtype}}
{{/xxl}}
{{#3xl}}
{{> atoms-testtype}}
{{/3xl}}
{{#jumbo}}
{{> atoms-testtype}}
{{/jumbo}}

{{#light}}
{{> atoms-testtype}}
{{/light}}

{{#light2}}
{{> atoms-testtype}}
{{/light2}}

{{#black}}
{{> atoms-testtype}}
{{/black}}

{{#black2}}
{{> atoms-testtype}}
{{/black2}}
</div>
</div> {{! end col-3 }}
</div> {{! page container }}