<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fecb00;"></span>
		<span class="sg-label">
			Penske Yellow (PY 70) <br />
			$penske-yellow <br />
			#fecb00
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFD41C;"></span>
		<span class="sg-label">
			PY-60 <br />
			$py-60 <br />
			#FFD41C
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFED7C;"></span>
		<span class="sg-label">
			PY-30 <br />
			$py-30 <br />
			#FFED7C
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFCE6;"></span>
		<span class="sg-label">
			PY-2.5 <br />
			$py-2-5 <br />
			#FFFCE6
		</span>
	</li>
</ul>
