<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #000B2F;"></span>
		<span class="sg-label">
			RB-180 <br />
			$rb-180 <br />
			#000B2F
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #001146;"></span>
		<span class="sg-label">
			RB-170 <br />
			$rb-170 <br />
			#001146
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #001146;"></span>
		<span class="sg-label">
			RB-170 <br />
			$rb-170 <br />
			#001146
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00165C;"></span>
		<span class="sg-label">
			RB-160 <br />
			$rb-160 <br />
			#00165C
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00165C;"></span>
		<span class="sg-label">
			RB-150-001B71 <br />
			$rb-160 <br />
			#00165C
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #001B71;"></span>
		<span class="sg-label">
			RB-150 <br />
			$rb-150 <br />
			#001B71
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #002084;"></span>
		<span class="sg-label">
			RB-140 <br />
			$rb-140 <br />
			#002084
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #002496;"></span>
		<span class="sg-label">
			Reflex-Blue RB-130 <br />
			$rb-130 <br />
			#002496
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #113BC2;"></span>
		<span class="sg-label">
			RB-100 <br />
			$rb-100 <br />
			#113BC2
		</span>
	</li>
	
</ul>
