<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #004279;"></span>
		<span class="sg-label">
			BB-150 <br />
			$bb-150 <br />
			#004279
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0058a1;"></span>
		<span class="sg-label">
			BB-130 <br />
			$bb-130 <br />
			#0058a1
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0058a1;"></span>
		<span class="sg-label">
			BB-110 <br />
			$bb-110 <br />
			#0058a1
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0058a1;"></span>
		<span class="sg-label">
			Brand Bright Blue (BB-100) <br />
			$bb-110 <br />
			#0073CF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5FB3F5;"></span>
		<span class="sg-label">
			BB-50 <br />
			$bb-50 <br />
			#5FB3F5
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #96D0FC;"></span>
		<span class="sg-label">
			BB-30 <br />
			$bb-30 <br />
			#96D0FC
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0058a1;"></span>
		<span class="sg-label">
			BB-30 <br />
			$bb-30 <br />
			#96D0FC
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D2ECFF;"></span>
		<span class="sg-label">
			BB-10 <br />
			$bb-10 <br />
			#D2ECFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EAF6FF;"></span>
		<span class="sg-label">
			BB-2.5 <br />
			$bb-2-5 <br />
			#EAF6FF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F2F9FF;"></span>
		<span class="sg-label">
			BB-0 <br />
			$bb-0 <br />
			#F2F9FF
		</span>
	</li>
	
	
</ul>
