<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #171718;"></span>
		<span class="sg-label">
			BB Gray 190 <br />
			$bb-gray-190 <br />
			#171718
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2F2F30;"></span>
		<span class="sg-label">
			BB Gray 180  <br />
			$bb-gray-180 <br />
			#2F2F30
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #464747;"></span>
		<span class="sg-label">
			BB Gray 170 <br />
			$bb-gray-170 <br />
			#464747
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5C5D5E;"></span>
		<span class="sg-label">
			BB Gray 160 <br />
			$bb-gray-160 <br />
			#5C5D5Ev
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #717274;"></span>
		<span class="sg-label">
			BB Gray 150 <br />
			$bb-gray-150 <br />
			#717274
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #959899;"></span>
		<span class="sg-label">
			BB Gray 130 <br />
			$bb-gray-130 <br />
			#959899
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #B3B6B8;"></span>
		<span class="sg-label">
			BB Gray 110 <br />
			$bb-gray-110 <br />
			#B3B6B8
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E8ECEF;"></span>
		<span class="sg-label">
			BB Gray 40 <br />
			$bb-gray-40 <br />
			#EDF1F4
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E8ECEF;"></span>
		<span class="sg-label">
			BB Gray 30 <br />
			$bb-gray-30 <br />
			#F1F5F8
		</span>
	</li>	
	<li>
		<span class="sg-swatch" style="background: #E8ECEF;"></span>
		<span class="sg-label">
			BB Gray 20 <br />
			$bb-gray-20 <br />
			#F4F8FB
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E8ECEF;"></span>
		<span class="sg-label">
			BB Gray 10 F7FAFD <br />
			$bb-gray-10 <br />
			#F7FAFD
		</span>
	</li>
	
</ul>
