<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #EFEFEF;"></span>
		<span class="sg-label">
			P Gray 50 <br />
			$p-gray-50 <br />
			#EFEFEF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F4F4F4;"></span>
		<span class="sg-label">
			P-Gray-40- <br />
			$p-gray-40 <br />
			#F4F4F4
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F8F8F8;"></span>
		<span class="sg-label">
			P-Gray-30- <br />
			$p-gray-30 <br />
			#F8F8F8
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FBFBFB;"></span>
		<span class="sg-label">
			P-Gray-20 <br />
			$p-gray-20 <br />
			#FBFBFB
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FDFDFD;"></span>
		<span class="sg-label">
			P-Gray-10 <br />
			$p-gray-10 <br />
			#FDFDFD
		</span>
	</li>
	
</ul>
