<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #8E0011;"></span>
		<span class="sg-label">
            Red-140 <br />
			$red-140 <br />
            #8E0011
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D0021B;"></span>
		<span class="sg-label">
            Red-100 <br />
			$red-100 <br />
            #D0021B
        </span>
	</li>
	
	<li>
		<span class="sg-swatch" style="background: #fff2f3;"></span>
		<span class="sg-label">
            Red-0 <br />
			$red-0 <br />
            #fff2f3
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F1495D;"></span>
		<span class="sg-label">
            Red-60 <br />
			$red-60 <br />
            #F1495D
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D14900;"></span>
		<span class="sg-label">
            Warning Orange <br />
			$org-warning <br />
            #D14900
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F59006;"></span>
		<span class="sg-label">
            Orange-80 <br />
			$org-80 <br />
            #F59006
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFF9F2;"></span>
		<span class="sg-label">
            Orange-0 <br />
			$org-0 <br />
            #FFF9F2
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #02490A;"></span>
		<span class="sg-label">
            Green-0 <br />
			$grn-170 <br />
            #02490A
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #068A15;"></span>
		<span class="sg-label">
            Green-140 <br />
			$grn-140 <br />
            #068A15
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F2FFF3;"></span>
		<span class="sg-label">
            Green-0 <br />
			$grn-0 <br />
            #F2FFF3
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6BCB76;"></span>
		<span class="sg-label">
            Green-Dark-Mode <br />
			$grn-dark-mode <br />
            #6BCB76
        </span>
	</li>
	
	
</ul>
